* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.main-container {
    background-color: #F0F8FF;
    height: 100%;
    margin: 0;
}

header {
    font-family: "Fantasy", Copperplate, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #e0e4e8;
}

.red { background-color: #e57373; }
.yellow { background-color: #fbc02d; }
.green { background-color: #81c784; }
.blue { background-color:cornflowerblue;}
.grey { background-color: gray;}

.portrait{
    background-color: blueviolet;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
}

.username {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.meeting-title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #d3d6db;
    padding: 4px 12px;
    border-radius: 4px;
    margin-left: 100px;
    margin-right: 20px;
}

.time {
    font-weight: bold;
    margin-right: 160px;
}

.all-contents{
    padding: 0 80px 0 80px;
}

.content {
    display: flex;
}

.horizontal-seats {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.h-seat {
    width: 120px;
    height: 80px;
    background-color: #d3d6db;
    border-radius: 4px;
}

.vertical-seats {
    display: grid;
    gap: 10px;
}

.seat {
    width: 120px;
    height: 80px;
    background-color: #d3d6db;
    border-radius: 4px;
}

.board-title{
    font-family: "Fantasy", Copperplate, serif;
}

.flow-board {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.board-title{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #d3d6db;
    padding: 4px 12px;
    border-radius: 8px 8px 0 0;
    width: 80%;
}

.board{
    background-color: #e9edf2;
    border-radius: 0 0 8px 8px;
    padding: 10px 0 10px 0;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

.messages {
    height: 35px;
    padding: 8px 16px;
    display: grid;
    justify-content: center;
    gap: 10px;
}

.message {
    margin: auto;
    text-align: center;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}

.message.chair-message {
    color: dimgrey;
}

.last-child{
    height: 10px;
}

.toolkit-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #B0C4DE;
    padding: 10px;
    text-align: center;
}

.toolkit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #d3d6db;
}

.icon{
    display: flex;
    gap: 30px;
    cursor: pointer;
    margin-left: 0;
}

.member-buttons{
    gap: 10px;
}

.chair-buttons{
    gap: 10px;    
    /*display: none;*/
}

button {
    background-color: #ffffff;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 70px;
}

button:hover {
    background-color: #f0f4f8;
}

.chair-badge {
    margin-top: 4px;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #f39c12;
    border-radius: 4px;
    text-transform: uppercase;
  }
  
